@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <form method="post" action="/calculadora/calculadora">
        <div class="mb-3">
          <div>
            <label for="number"></label>
            <input type="number" id="nome" name="number" class="form-control">
          </div>
          <div>
            <label for="number2"></label>
            <input type="number" id="number2" name="number2" class="form-control">
          </div>
          <input type="submit" class="btn btn-outline-primary" value="Calcular" />
       </div>
     </form>
}
